.title{
    text-align: center;
    color: #75CB00;
    font-size: 17px;
    border: chartreuse 3px solid;
    margin-right: 120px;
    margin-left: 120px;
}

.contenido{
    color: #5A6263;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.cursoGit{
    width: 600px; height: 320px;
    display: block;
    margin: auto;
    border: 2px solid #333;
}

footer{
    background-color: #333;
    color: aliceblue;
    font-size: 17px;
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}
